<% content_for :content_header do %>
    <h1>申請ポイント一覧</h1>
    <h2><%= link_to '申請ポイントを登録する', new_admin_apply_point_path, class: 'btn btn-primary' %></h2>
<% end %>
<!-- Main content -->
<div class="col-xs-12">

  <div class="box box-primary">
    <div class="box-body table-responsive no-padding">
      <table class="table table-striped">
        <tr>
          <th class="col-md-1"><%= ApplyPoint.human_attribute_name(:id) %></th>
          <th class="col-md-2"><%= ApplyPoint.human_attribute_name(:user_name) %></th>
          <th class="col-md-2"><%= ApplyPoint.human_attribute_name(:shop_name) %></th>
          <th class="col-md-2"><%= ApplyPoint.human_attribute_name(:use_price) %></th>
          <th class="col-md-1"><%= ApplyPoint.human_attribute_name(:point) %></th>
          <th class="col-md-1"><%= ApplyPoint.human_attribute_name(:status) %></th>
          <th class="col-md-3"></th>
        </tr>
        <% if @apply_points.any? %>
            <% @apply_points.each do |apply_point| %>
                <tr>
                  <td><%= apply_point.id %></td>
                  <td><%= apply_point.user&.full_name %></td>
                  <td><%= apply_point.reservation&.shop&.name %></td>
                  <td><%= apply_point.use_price %>円</td>
                  <td><%= apply_point.point %></td>
                  <td><%= apply_point.status %></td>
                  <td>
                    <div class="text-right">
                      <%= link_to admin_apply_point_path(apply_point), class: 'btn btn-default' do %><i class="fa fa-search"></i> 詳細<% end %>
                      <%= link_to edit_admin_apply_point_path(apply_point), class: 'btn btn-info' do %><i class="fa fa-edit"></i> 編集<% end %>
                      <%= link_to admin_apply_point_path(apply_point), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
                          <i class="fa fa-trash-o"></i> 削除
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan=5>登録されている申請ポイントが存在しません</td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="box-footer clearfix">
      <%= paginate @apply_points, theme: :admin %>
    </div>
  </div>
</div>
