<div class="main-area container bg-white mt-3">
  <h2 class="text-info text-center page-heading mb-4 mt-4">ユーザー情報変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group row center-form">
      <%= f.label :email, class: "col-sm-3 signup-label m-0" %><br />
      <%= f.email_field :email, autofocus: true, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :l_name, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :l_name, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :f_name, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :f_name, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :l_name_kana, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :l_name_kana, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :f_name_kana, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :f_name_kana, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :enterprise_name, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :enterprise_name, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :phone_number, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :phone_number, class: "col-sm-9 form-control" %>
    </div>

    <div class="field form-group row center-form">
      <%= f.label :occupation, class: "col-sm-3 signup-label" %><br />
      <%= f.text_field :occupation, class: "col-sm-9 form-control" %>
    </div>

    <div class="actions text-center mb-3">
      <%= f.submit "更新する", class: "btn btn-info" %>
    </div>
  <% end %>
  <div class="text-center account-sub p-4">
    <%= link_to "パスワード変更", users_edit_password_path,class: "text-info" %>
  </div>

  <div class="text-center account-sub p-4">
    <% if current_user.bank_account.blank? %>
      <%= link_to "口座情報を登録する", new_bank_account_path, class: "text-info" %>
    <% else %>
      <%= link_to "口座情報を更新する", edit_bank_account_path, class: "text-info" %>
    <% end %>
  </div>

</div>
