<div class="container mt-5 mb-5">
  <h2 class="main-text text-center page-heading mb-5 mt-4">nomini新規会員登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
      <div class="field form-group center-form">
        <div class="alert alert-danger">
          <ul>
            <%= devise_error_messages! %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="sign-up-countainer">
      <div class="field form-group center-form email-form">
        <%= f.email_field :email, placeholder: "メールアドレス(ID)", autofocus: true, class: "form-control text-center" %>
      </div>
    </div>
    <div class="sign-up-alert">
      <p class="sign-up-alert-text">【注意】@docomo.ne.jp, @ezweb.ne.jp などはメールが届かない不具合が報告されております。</p>
      <p class="sign-up-alert-text">【推奨】GoogleやYahooなどのアドレスをご記入ください。</p>
    </div>
    <% if f.object.password_required? %>
      <div class="sign-up-countainer">
        <div class="field form-group center-form password-form">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード：#{@minimum_password_length}文字以上", class: "form-control text-center" %>
        </div>

        <div class="field form-group row center-form">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード確認", class: "form-control text-center" %>
        </div>
      </div>
    <% end %>

    <div class="actions text-center mb-3 mt-5">
      <%= f.submit "登録する", class: "btn main-btn btn-lg" %>
    </div>
  <% end %>
  <div class="sign-up-alert">
    <p class="sign-up-alert-text">※入力頂いたメールアドレスにnominiより認証メールが送信されます。メール記載のURLよりログインください。</p>
  </div>
  <div class="text-center account-sub p-4">
    <% unless session[:sns_flg] %>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn facebook-login-button mb-3" do %>
            <i class="fa fa-facebook"></i>Facebookで会員登録
          <% end -%>
          <br />
        <% end -%>
      <% end -%>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
