<div class="main-area container bg-white mt-3">
  <h2 class="main-text text-center page-heading mb-4 mt-4">ユーザー情報変更</h2>
  <%= form_for(resource, as: resource_name, url: users_edit_password_path, html: { method: :patch, class: "mr-3 ml-3" }) do |f| %>
    <%= devise_error_messages! %>
      <div class="field form-group row signup-form">
        <%= f.label :password, class: "col-sm-3 signup-label" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "#{@minimum_password_length}文字以上", class: "col-sm-9 form-control" %>
      </div>

      <div class="field form-group row signup-form">
        <%= f.label :password_confirmation, class: "col-sm-3 signup-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "#{@minimum_password_length}文字以上", class: "col-sm-9 form-control" %>
      </div>

      <div class="field form-group row signup-form">
        <%= f.label "現在のパスワード", class: "col-sm-3 signup-label" %><br />
        <%= f.password_field :current_password, autocomplete: "off", placeholder:"現在のパスワードを入力してください。", class: "col-sm-9 form-control" %>
      </div>

      <div class="actions text-center mb-3">
        <%= f.submit "更新する", class: "btn btn-info" %>
      </div>
  <% end %>
</div>
