<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for [:admin, shop] do |form| %>
        <%= form.email_field :email %>
        <%= form.password_field :password %>
        <%= form.password_field :password_confirmation %>
        <%= form.text_field :name %>
        <div class="form-group">
          <%= form.label Prefecture.human_attribute_name(:name) %>
          <%= select nil, :prefecture, prefecture_list(shop.city), {}, {class: 'form-control'}  %>
        </div>
        <%= form.select :city_code, city_list(shop.city), selected: shop.city %>
        <%= form.text_area :description %>
        <%= form.file_field :image %>
        <%= form.hidden_field :image_cache %>
        <%= form.number_field :service_time %>
        <%= form.number_field :price %>
        <%= form.text_field :phone_number %>
        <% if params[:action] == 'new' %>
          <% ReservationCategory.all.each do |rc| %>
            <%= form.fields_for :shop_usages do |price_form| %>
              <%= price_form.hidden_field :reservation_category_id, value: rc.id %>
              <%= price_form.number_field :price, label: rc.name + "価格" %>
            <% end %>
          <% end %>
        <% else %>
          <%= form.fields_for :shop_usages do |price_form| %>
            <%= price_form.hidden_field :reservation_category_id %>
            <%= price_form.number_field :price, label: @reservation_categories.find(price_form.object.reservation_category_id).name %>
          <% end %>
        <% end %>

        <div class="box-footer">
          <%= form.primary '登録する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
