<% content_for :content_header do %>
  <h1>店舗画像登録</h1>
<% end %>
<!-- Main content -->
<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for @shop, url: landscapes_admin_shop_path(@shop), method: :patch do |form| %>
        <%= form.fields_for :shop_landscapes do |landscape_form| %>
          <%= landscape_form.hidden_field :id %>
          <%= landscape_form.file_field :image %>
          <%= landscape_form.hidden_field :image_cache %>
          <% if landscape_form.object.image.present? %>
            <%= image_tag landscape_form.object.image_url(:thumb) %>
          <% end %>
        <% end %>
        <div class="box-footer">
          <%= form.primary '登録する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
