<% content_for :content_header do %>
  <h1>店舗一覧</h1>
  <h2><%= link_to '新しく店舗を登録する', new_admin_shop_path, class: 'btn btn-primary' %></h2>
<% end %>
<!-- Main content -->
<div class="col-xs-12">

  <div class="box box-primary">
    <div class="box-body table-responsive no-padding">
      <table class="table table-striped">
        <tr>
          <th class="col-md-1"><%= Shop.human_attribute_name(:id) %></th>
          <th class="col-md-4"><%= Shop.human_attribute_name(:name) %></th>
          <th class="col-md-1"><%= Shop.human_attribute_name(:is_display) %></th>
          <th class="col-md-2"><%= Shop.human_attribute_name(:phone_number) %></th>
          <th class="col-md-3"></th>
        </tr>
          <% if @shops.any? %>
            <% @shops.each do |shop| %>
            <tr>
              <td><%= shop.id %></td>
              <td>
                <%= shop.name %>
                <% if shop.is_agree %>
                  <span class="label label-primary">利用規約同意</span>
                <% else %>
                  <span class="label label-danger">利用規約未同意</span>
                <% end%>
              </td>
              <td>
                <% if shop.is_display %>
                  <span class="label label-primary">確認済</span>
                <% else %>
                  <span class="label label-danger">確認未済</span>
                <% end%>
              </td>
              <td><%= shop.phone_number %></td>
              <td>
                <div class="text-right">
                <%= link_to admin_shop_path(shop), class: 'btn btn-default' do %><i class="fa fa-search"></i> 詳細<% end %>
                <%= link_to edit_admin_shop_path(shop), class: 'btn btn-info' do %><i class="fa fa-edit"></i> 編集<% end %>
                <%= link_to admin_shop_path(shop), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
                  <i class="fa fa-trash-o"></i> 削除
                <% end %>
                </div>
              </td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan=5>登録されている店舗が存在しません</td>
            </tr>
          <% end %>
      </table>
    </div>
    <div class="box-footer clearfix">
      <%= paginate @shops, theme: :admin %>
    </div>
  </div>
</div>
