<% content_for :content_header do %>
  <h1>店舗詳細</h1>
<% end %>
<!-- Main content -->
<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:id) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.id %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:name) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.name %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:email) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.email %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:description) %></h3>
    </div>
    <div class="box-body">
      <%= markdown(@shop.description) %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title">住所</h3>
    </div>
    <div class="box-body">
      <span><%= @shop.city&.prefecture.name %></span>
      <span><%= @shop.city&.name %></span>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:image) %></h3>
    </div>
    <div class="box-body">
      <%= image_tag @shop.image if @shop.image.present? %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:service_time) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.service_time %>h
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:price) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.price %>円
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:phone_number) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.phone_number %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:created_at) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.created_at %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Shop.human_attribute_name(:updated_at) %></h3>
    </div>
    <div class="box-body">
      <%= @shop.updated_at %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title">価格</h3>
    </div>
    <div class="box-body">
      <% @shop_usages.each do |shop_usage| %>
        <p>
          <%= @reservation_categories.find(shop_usage.reservation_category_id).name %>
          <%= shop_usage.price || '未設定' %>
        </p>
      <% end %>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">
      <%= link_to edit_admin_shop_path(@shop), class: 'btn btn-info' do %>
        <i class="fa fa-edit">編集</i>
      <% end %>
      <%= link_to admin_shop_path(@shop), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
        <i class="fa fa-trash-o">削除</i>
      <% end %>
    </div>
    <!-- /.box-footer-->
  </div>
</div>
