<div class="bg-black">
  <div class="container">
    <h2 class="text-white ml-3 pb-2 pt-2 mb-3">店舗一覧</h2>
  </div>
</div>
<div class="container">
  <% @shops.each do |shop| %>
    <div class="row bg-white mb-3 shop-list">
      <div class="col-md-3 pb-2 pt-2">
        <div class="image-wrap">
          <%= image_tag shop.image, size: '50x50', class: "align-self-center shop-image pt-2" %>
        </div>
      </div>

      <div class="col-md-9 pt-2" >
        <div class="row">
          <div class="shop-name col-md-10 pl-0">
            <h3 class="area-info main-text">
              <span><%= shop.city.name %></span>
              <span><%= shop.area_text %></span>
            </h3>
            <h3><%= shop_name_text(shop) %></h3>
          </div>
          <div class="col-md-2">
            <%= link_to '詳細を見る', shop_path(shop), class: "float-md-right btn main-btn shop-detail-btn" %>
          </div>

          <p class="shop-description mb-0 p-2">
            <%= shop.description %>
          </p>
          <div class="row w-100 pl-4 pb-2">
            <% shop.shop_usages.each do |shop_usage| %>
              <% unless shop_usage.price.blank? %>
                <div class="col-4 course-price p-0 pl-2 pr-2">
                  <div class="row">
                    <span class="col-12 col-md-5"><%= shop_usage.reservation_category.name %></span>
                    <span class="col-12 col-md-7"><%= shop_usage.price %>円</span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$(function(){
  $(".shop-description").each(function(i){
    len=$(this).text().length;
    if(len>80)
    {
      $(this).text($(this).text().substr(0,100)+'...');
    }
  });
});
</script>
