<div class="container bg-white mt-3 pb-2">
  <h2 class="shop-name text-info py-3 m-0"><%= @shop.name %></h2>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag @shop.image, size: '500x500', class: "d-flex align-self-center shop-show-image"%>
    </div>

    <div class="col-md-4 shop-info-1">
      <!--
      <div class="mt-2 my-4">
        <%= link_to '予約する', new_shop_reservation_path(shop_id: @shop.id), class: "btn btn-info btn-lg reservation-btn btn-block" %>
      </div>
      -->
      <h3 class="shop-detail-title text-info">提供時間</h3>
      <div class="ml-2 mb-3"><%= @shop.service_time&.floor %>分</div>
      <h3 class="shop-detail-title text-info">価格</h3>
      <div class="ml-2 mb-3">
        <% @shop.shop_usages.each do |shop_usage| %>
          <% unless shop_usage.price.blank? %>
          <div>
            <div class="row course-show-price p-0 pl-2 pr-2">
              <span class="col-6"><i class="fa fa-caret-right text-info pr-1"></i><%= shop_usage.reservation_category.name %></span>
              <span class="pl-2 col-6"><%= shop_usage.price %>円</span>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <h3 class="shop-detail-title text-info">電話番号</h3>
      <div class="ml-2 mb-3">
        <%= @shop.phone_number %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 class="shop-detail-title text-info pt-3">お店詳細</h3>
      <div class="shop-detail mb-3"><%= @shop.description %></div>
    </div>
    <div class="col-md-4">
      <div class=" p-3 border border-mated rounded mt-3">
        <h3 class="shop-detail-title text-info text-center">予約情報入力</h3>
        <%= bootstrap_form_for (@reservation), url: confirm_shop_reservations_path(shop_id: @shop.id) do |form| %>
          <%= form.hidden_field :shop_id, value: params[:shop_id] || @reservation.shop_id %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.select :reservation_category_id, @shop.valid_categories.map{|category| ["#{category.reservation_category.name} #{category.price}円", category.reservation_category_id]}, label: "予約カテゴリ" %>
          <%= form.select :people_count, (1..30).map {|num| num.to_s + "名"}  %>
          <%= form.text_field :use_date, id: "datetimepicker" %>
          <%= form.time_select :use_time, minute_step: 10 %>
          <%= form.text_area :message %>

          <div class="box-footer text-center">
            <%= form.primary '予約情報を確認する', class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  flatpickr('#datetimepicker',{dateFormat: 'Y/m/d', allowInput: true, clickOpens: true});
</script>
