<div class="container pb-3">
    <div class="container">
      <h2 class="main-text pt-3"><%= shop_name_text(@shop) %></h2>
    </div>
  <div class="row">
    <div class="col-md-8">
      <div class="show-image-wrap">
        <div id="slider">
          <div>
            <%= image_tag @shop.image, class: 'img-fluid slider-image'%>
          </div>
          <% @shop.shop_landscapes.each do |landscape| %>
            <div>
              <%= image_tag landscape.image_url, class: 'img-fluid slider-image' %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="slider-nav" class="slider-nav">
      </div>
    </div>

    <div class="col-md-4 shop-info-1">
      <% if shop_signed_in? && @shop.correct?(current_shop) %>
        <div class="mb-3">
          <%= link_to '店舗情報編集', edit_shops_path, class: "btn btn-block btn-primary" %>
        </div>
      <% end %>
      <h3 class="shop-detail-title text-white bg-header-color px-3 mb-3 py-2"><i class="fa fa-clock-o pr-2"></i>提供時間</h3>
      <div class="ml-2 mb-3"><%= @shop.service_time&.floor %>分</div>
      <h3 class="shop-detail-title text-white bg-header-color px-3 mb-3 py-2"><i class="fa fa-yen pr-2"></i>価格</h3>
      <div class="ml-2 mb-3">
        <% @shop.shop_usages.each do |shop_usage| %>
          <% unless shop_usage.price.blank? %>
          <div>
            <div class="row p-0 pl-2 pr-2 w-100">
              <span class="col-5"><i class="fa fa-caret-right pp-text pr-1"></i><%= shop_usage.reservation_category.name %></span>
              <span class="pl-2 col-5"><%= shop_usage.price %>円</span>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <% if current_user.subscription.present? %>
        <h3 class="shop-detail-title text-white bg-header-color px-3 mb-3 py-2"><i class="fa fa-phone pr-2"></i>電話番号</h3>
        <div class="ml-2 mb-3">
          <a href="tel:<%= @shop.phone_number %>"><%= @shop.phone_number %></a>
        </div>

        <h3 class="shop-detail-title text-white bg-header-color px-3 mb-3 py-2"><i class="fa fa-map-marker pr-2"></i>住所</h3>
        <div class="ml-2 mb-3">
          <%= @shop.address_text %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-8 p-0">
      <h3 class="shop-detail-title text-white bg-header-color px-3 mb-3 py-2">店舗詳細</h3>
      <div class="shop-detail mb-3 px-2"><%= markdown(@shop.description) %></div>
    </div>
    <div class="col-md-4 shop-show-form">
      <% if @shop.is_display_map %>
        <div class="google-map-wrapper">
          <div class="google-map"></div>
        </div>
      <% end %>
      <%= render template: 'reservations/new', locals: { reservation: @reservation, shop: @shop } %>
    </div>
  </div>
</div>
<script type="text/javascript">
  flatpickr('#datetimepicker',{dateFormat: 'Y/m/d', allowInput: true, clickOpens: true});
</script>
<script>
  function initMap() {
    var map;
    var marker;
    var shop_position = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>}
    map = new google.maps.Map(document.querySelector('.google-map'), {
      center: shop_position,
      zoom: 15
    });
    marker = new google.maps.Marker({
      position: shop_position,
      map: map
    })

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
