<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for [:admin, reservation] do |form| %>
        <%= form.number_field :shop_id %>
        <%= form.number_field :user_id %>
        <%= form.collection_select :reservation_category_id, ReservationCategory.select(:id, :name), :id, :name  %>
        <%= form.number_field :people_count %>
        <%= form.date_field :use_date %>
        <%= form.time_field :use_time %>
        <%= form.text_area :message %>
        <%= form.select :status, Reservation.statuses.keys.to_a, {} %>

        <div class="box-footer">
          <%= form.primary '登録する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
