<% content_for :content_header do %>
  <h1>予約詳細</h1>
<% end %>
<!-- Main content -->
<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:id) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.id %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:shop) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.shop&.name %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:user) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.user&.full_name_kana %> <%= @reservation.user&.email %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:reservation_category) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.reservation_category&.name %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:people_count) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.people_count %>人
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:use_datetime) %></h3>
    </div>
    <div class="box-body">
      <%= "#{@reservation.use_date} #{@reservation.use_time}" %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:message) %></h3>
    </div>
    <div class="box-body">
      <%= simple_format(@reservation.message) %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:status) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.status %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:created_at) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.created_at %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Reservation.human_attribute_name(:updated_at) %></h3>
    </div>
    <div class="box-body">
      <%= @reservation.updated_at %>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">
      <%= link_to edit_admin_reservation_path(@reservation), class: 'btn btn-info' do %>
        <i class="fa fa-edit">編集</i>
      <% end %>
      <%= link_to admin_reservation_path(@reservation), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
        <i class="fa fa-trash-o">削除</i>
      <% end %>
    </div>
    <!-- /.box-footer-->
  </div>
</div>
