<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for [:admin, exchange] do |form| %>
          <%= form.number_field :user_id %>
          <%= form.select :status, Exchange.statuses_i18n.invert.keys.to_a, {} %>
          <%= form.text_field :point %>
          <%= form.text_area :remand_reason %>
          <%= form.datetime_field :paied_at %>

          <div class="box-footer">
            <%= form.primary '登録する' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
