<p><%= @reservation.user.full_name_kana %>様</p>

<p>
  この度は『nomini』をご利用いただき、誠にありがとうございます。<br>
  以下の通りご予約が確定致しました。
</p>
<p>※このメールの内容に覚えがない場合は、恐れ入りますが、直接お店までお問い合わせください。</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
<p>※お会計はご登録されているクレジットカードへ後日請求させていただきます。</p>
-----------------------------------------------<br>
<%= render 'mailers/shared/cancel_provision' %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mypage_notes' %>

<%= render 'mailers/shared/mail_footer' %>
