<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for [:admin, payment] do |form| %>
        <%= form.number_field :user_id %>
        <%= form.select :status, Payment.statuses_i18n.invert, {} %>
        <%= form.text_field :payjp_token %>
        <%= form.text_field :customer_id %>
        <%= form.text_field :subscription_id %>

        <div class="box-footer">
          <%= form.primary '登録する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
