<div class="main-area container bg-white mt-3">
  <h2 class="text-info page-heading py-3 m-0">予約履歴一覧</h2>
  <div class="px-3">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <table class="table container">
            <tr class="row pc-only-block">
              <th class="col-sm-5">予約日時</th>
              <th class="col-sm-5">店舗名</th>
              <th class="col-sm-2">状況</th>
            </tr>
            <% if @reservations.any? %>
              <% @reservations.each do |reservation| %>
                  <tr class="row reservation-tr">
                    <td class="col-sm-5 p-0 reservation-datetime">
                      <%= link_to reservation_path(reservation), class: 'd-block p-2 text-black reservation-td' do %>
                        <%= l(reservation.use_date, format: :long)  %>
                        <%= reservation.use_time.strftime("%H時%M分") %>
                      <% end %>
                    </td>
                    <td class="col-sm-5 p-0">
                      <%= link_to reservation_path(reservation), class: 'd-block p-2 text-black reservation-td' do %>
                        <%= reservation.shop&.name %>
                      <% end %>
                    </td>
                    <td class="col-sm-2 p-0">
                      <%= link_to reservation_path(reservation), class: 'd-block p-2 text-black reservation-td' do %>
                        <%= reservation.status %>
                      <% end %>
                    </td>
                  </tr>

              <% end %>
            <% else %>
              <tr>
                <td colspan=5>予約が存在しません</td>
              </tr>
            <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <%= paginate @reservations %>
      </div>
    </div>
  </div>
</div>
