<div class="container mt-3">
  <h2 class="main-text text-center page-heading mb-5 mt-5">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="sign-in-countainer">
      <div class="field form-group center-form email-form">
        <%= f.email_field :email, placeholder: "メールアドレス(ID)", autofocus: true, class: "form-control text-center" %>
      </div>
    </div>

    <div class="sign-in-countainer">
      <div class="field form-group center-form password-form">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control text-center" %>
      </div>
    </div>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <p class="text-center mb-2"><%= link_to "※パスワードを忘れた場合はこちら", new_password_path(resource_name), class: "main-text password-remember" %></p>
    <% end -%>

    <% if devise_mapping.rememberable? -%>
      <div class="field form-group text-center mb-2 remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions form-group text-center">
      <%= f.submit "ログイン", class: "btn main-btn btn-lg login-btn" %>
    </div>
  <% end %>


  <div class="text-center">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn facebook-login-button mb-3" do %>
          <i class="fa fa-facebook"></i>Facebookログイン
        <% end -%>
        <br />
      <% end -%>
    <% end -%>
    <%= render "devise/shared/links" %>
  </div>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="text-center"><%= link_to "新規会員登録はこちら", new_registration_path(resource_name), class: "main-text" %></p>
  <% end -%>

</div>
