<div class="main-area container bg-white mt-3">
  <h2 class="text-info text-center page-heading mb-4 mt-4">新規店舗登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group row signup-form">
      <%= f.label :email, class: 'col-sm-3 signup-label m-0' %><br />
      <%= f.email_field :email, autofocus: true, class: 'col-sm-9 form-control', placeholder: 'example@nomini.jp' %>
    </div>

    <div class="field form-group row signup-form">
      <%= f.label :name, class: 'col-sm-3 signup-label m-0' %><br />
      <%= f.text_field :name, class: 'col-sm-9 form-control', placeholder: '◯◯レストラン' %>
    </div>

    <div class="field form-group row signup-form">
      <%= f.label :password, class: 'col-sm-3 signup-label' %>
      <%= f.password_field :password, autocomplete: 'off', placeholder: "#{@minimum_password_length}文字以上", class: 'col-sm-9 form-control' %>
    </div>

    <div class="field form-group row signup-form">
      <%= f.label :password_confirmation, class: 'col-sm-3 signup-label' %><br />
      <%= f.password_field :password_confirmation, placeholder: "#{@minimum_password_length}文字以上", class: 'col-sm-9 form-control' %>
    </div>

    <div class="actions text-center mb-3">
      <%= f.submit '登録する', class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
