<div class="container bg-white mt-3 pb-2 main-area">
  <div class="payment-info">
    <h2 class="text-info py-3 m-0 text-center mt-3">決済情報</h2>
    <!-- Main content -->
    <div class="confirm-box">
      <div class="row confirm-list">
        <div class="col-md-3">
          <h3 class="confirm-label">ご利用店舗</h3>
        </div>
        <div class="col-md-9">
          <p class="confirm-value">
            <%= @reservation_payment.reservation.shop.name %>
          </p>
        </div>
      </div>
      <div class="row confirm-list">
        <div class="col-md-3">
          <h3 class="confirm-label">ご利用日時</h3>
        </div>
        <div class="col-md-9">
          <p class="confirm-value">
            <%= "#{l(@reservation_payment.reservation.use_date, format: :long)} #{l(@reservation_payment.reservation.use_time, format: :time_only)}" %>
          </p>
        </div>
      </div>
      <div class="row confirm-list">
        <div class="col-md-3">
          <h3 class="confirm-label">決済金額(税込)</h3>
        </div>
        <div class="col-md-9">
          <p class="confirm-value">
            <%= @reservation_payment.tax_included_amount %> 円
          </p>
        </div>
      </div>
    </div>
    <div class="p-3 mt-3 pl-5 pr-5 payment-form">
      <h2 class="text-info text-center">カード情報入力</h2>
      <ul class="reservation-chack text-danger">
        <% @reservation_payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <%= form_for(@reservation_payment) do |f| %>
        <span class="charge-errors"></span>
        <div class="field form-group text-center">
          <input type="text" class="form-control number" name="number" maxlength="16" placeholder="カード番号">
        </div>

        <div class="field form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="exp_month" class="expiration-date">有効期限</label>
            </div>
            <div class="col-md-3">
              <%= select nil, :exp_month, exp_month_range, {}, {class: 'form-control'}  %>
            </div>
            <div class="col-md-3">
              <%= select nil, :exp_year, exp_year_range, {}, {class: 'form-control'}  %>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control cvc" name="cvc" maxlength="3" placeholder="CVC">
            </div>
          </div>
        </div>

        <div class="actions form-group text-center">
          <%= f.submit '決済', class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
