<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <%= bootstrap_form_for [:admin, enquete_item] do |form| %>
        <%= form.text_area :content %>
        <%= form.select :answer_type, EnqueteItem.answer_types_i18n.invert, {}  %>
        <%= form.check_box :invalid_flg %>

        <%= form.fields_for :enquete_selections, enquete_item.enquete_selections do |selection_form| %>
          <hr>
          <h3>選択肢1</h3>
          <%= selection_form.text_field :content %>
          <%= selection_form.number_field :answer_value %>
        <% end %>

        <div class="box-footer">
          <%= form.primary '登録する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
