<% content_for :content_header do %>
  <h1>アンケート項目詳細</h1>
<% end %>
<!-- Main content -->
<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:id) %></h3>
    </div>
    <div class="box-body">
      <%= @enquete_item.id %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:content) %></h3>
    </div>
    <div class="box-body">
      <%= simple_format(@enquete_item.content) %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:invalid_flg) %></h3>
    </div>
    <div class="box-body">
      <%= @enquete_item.invalid_flg %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:answer_type) %></h3>
    </div>
    <div class="box-body">
      <%= @enquete_item.answer_type %>
    </div>
    
    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:created_at) %></h3>
    </div>
    <div class="box-body">
      <%= @enquete_item.created_at %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= EnqueteItem.human_attribute_name(:updated_at) %></h3>
    </div>
    <div class="box-body">
      <%= @enquete_item.updated_at %>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">
      <%= link_to edit_admin_enquete_item_path(@enquete_item), class: 'btn btn-info' do %>
        <i class="fa fa-edit">編集</i>
      <% end %>
      <%= link_to admin_enquete_item_path(@enquete_item), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
        <i class="fa fa-trash-o">削除</i>
      <% end %>
    </div>
    <!-- /.box-footer-->
  </div>
</div>

<div class="col-xs-12">

  <div class="box box-primary">
    <div class="box-body table-responsive no-padding">
      <table class="table table-striped">
        <tr>
          <th class="col-md-3"><%= EnqueteSelection.human_attribute_name(:content) %></th>
          <th class="col-md-3"><%= EnqueteSelection.human_attribute_name(:answer_value) %></th>
          <th class="col-md-3"></th>
        </tr>
          <% if @enquete_item.enquete_selections.any? %>
            <% @enquete_item.enquete_selections.each do |enquete_selection| %>
            <tr>
              <td><%= enquete_selection.content %></td>
              <td><%= enquete_selection.answer_value %></td>
              <td>
                <div class="text-right">
                </div>
              </td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan=5>登録されている選択肢が存在しません</td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
