<p><%= @resource.email %>様</p>

<p>
  nominiメンバーにご登録いただきありがとうございます。<br>
  下記ページよりアクセスすることで会員登録が完了します。<br>
  会員登録完了後、ログインを行ってください。<br>
  なお、本メールは削除せずに保管してください。<br>

  <p><%= link_to nil, confirmation_url(@resource, confirmation_token: @token) %></p>
</p>

<p>
  <table>
    <tr>
      <th>ID(メールアドレス)</th><td><%= @resource.email %></td>
    </tr>
    <tr>
      <th>パスワード</th><td><%= @resource.password %></td>
    </tr>
  </table>
</p>

<%= render 'mailers/shared/mail_footer' %>
