<% content_for :content_header do %>
  <h1>支払い情報詳細</h1>
<% end %>
<!-- Main content -->
<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= Subscription.human_attribute_name(:id) %></h3>
    </div>
    <div class="box-body">
      <%= @subscription.id %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Subscription.human_attribute_name(:status) %></h3>
    </div>
    <div class="box-body">
      <%= @subscription.status_i18n %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Subscription.human_attribute_name(:customer_id) %></h3>
    </div>
    <div class="box-body">
      <%= @subscription.customer_id %>
    </div>
    
    <div class="box-header with-border">
      <h3 class="box-title"><%= Subscription.human_attribute_name(:created_at) %></h3>
    </div>
    <div class="box-body">
      <%= @subscription.created_at %>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title"><%= Subscription.human_attribute_name(:updated_at) %></h3>
    </div>
    <div class="box-body">
      <%= @subscription.updated_at %>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">
      <%= link_to edit_admin_subscription_path(@subscription), class: 'btn btn-info' do %>
        <i class="fa fa-edit">編集</i>
      <% end %>
      <%= link_to admin_subscription_path(@subscription), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %>
        <i class="fa fa-trash-o">削除</i>
      <% end %>
      <% if @subscription.active? %>
        <%= link_to cancel_admin_subscription_path(@subscription), class: 'btn btn-danger', method: :patch,  data: { confirm: '課金を停止します。よろしいですか' } do %>
          <i class="fa fa-edit">課金停止</i>
        <% end %>
      <% else %>
        <%= link_to restart_admin_subscription_path(@subscription), class: 'btn btn-success', method: :patch, data: { confirm: '課金を停止します。よろしいですか' } do %>
          <i class="fa fa-edit">課金再開</i>
        <% end %>
      <% end %>
    </div>
    <!-- /.box-footer-->
  </div>
</div>

