<div class="right-nav">
  <ul class="nav">
    <% if shop_signed_in? %>
        <li class="nav-item ml-3">
          <%= link_to "店舗ログアウト", destroy_shop_session_path, method: :delete, class: "btn btn-info shop-guide-btn" %>
        </li>
    <% else %>
      <% if user_signed_in? %>
        <!-- <li class="nav-item align-self-center mr-4 pc-only-inline">
          <span class="main-text">現在のポイント：<%= current_user.point_count %></span>
        </li> -->
        <li class="dropdown nav-item mr-3 align-self-center user-menu">
          <button class="btn-link dropdown-toggle user-info" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i><span class="user-name pl-1 pc-only-inline"><%= current_user.email %>様</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <%= link_to mypage_path, class: "dropdown-item" do %><i class="fa fa-user mr-2"></i>マイページ<% end%>
            <%= link_to edit_user_registration_path, class: "dropdown-item" do %><i class="fa fa-gear mr-2"></i>ユーザー設定<% end %>
            <%= link_to new_introduction_path, class: "dropdown-item" do %><i class="fa fa-envelope mr-2"></i>友人紹介<% end %>
            <%= link_to new_exchange_path, class: "dropdown-item" do %><i class="fa fa-money mr-2"></i>換金申請<% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %><i class="fa fa-sign-out mr-2"></i>ログアウト<% end %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "店舗を見る", shops_path, class: "btn main-btn shop-guide-btn" %>
        </li>
      <% else %>
        <!-- <%= link_to "ログイン", new_user_session_path, class: "btn btn-info" %> -->
      <% end %>
    <% end %>
  </ul>
</div>
