<h2 class="text-info page-heading py-3 m-0">PickUp</h2>
<div class="card-deck">
  <% recommend_shops.each do |recommend_shop| %>
    <div class="card">
      <div class="card-body recommend-shop-name">
        <span>
          <%= link_to shop_path(recommend_shop) do %>
            <%= recommend_shop.name %>
          <% end %>
        </span>
        <span class="float-right text-info font-weight-bold">
          〜<%= recommend_shop.top_price %>円
        </span>
      </div>
      <%= link_to shop_path(recommend_shop) do %>
        <%= image_tag recommend_shop.image, class: "card-img-bottom img-responsive", size: '150' %>
      <% end %>
    </div>
  <% end %>
</div>
