<!DOCTYPE html>
<html>
  <head>
    <title>NominiReserve</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script type="text/javascript">Payjp.setPublicKey("<%= ENV['PAYJP_PUBLIC_KEY'] %>");</script>
    <%= javascript_include_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google AdWords: 819279987 -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-819279987"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'AW-819279987');
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PRRCKMS');</script>
      <!-- End Google Tag Manager -->

    <% end %>
    <%= yield :conversion_tag %>
  </head>

  <body class="bg-white">
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRRCKMS"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <div class="wrapper">
      <header class="nomini-header">
        <%= render 'layouts/header' %>
      </header>

      <% flash.each do |key, value| %>
        <div class="alert-area bg-white navbar">
          <p class="alert alert-<%= key %>"><%= value %></p>
        </div>
      <% end %>
      <% if @recommend_shops.present? && current_user&.subscription.present? %>
        <div class="container">
          <div class="main-area container bg-white mt-3 recommend-area pb-3">
            <%= render 'layouts/recommend', recommend_shops: @recommend_shops %>
          </div>
        </div>
      <% end %>

      <%= yield %>
      <% if user_signed_in? %>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/mobile_fixed_menu' %>
      <% end %>
    </div>
    <%= yield :payjp_form %>
  </body>
</html>
