<!DOCTYPE html>
<html>
  <head>
    <title>NominiReserve</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script type="text/javascript">Payjp.setPublicKey("<%= ENV['PAYJP_PUBLIC_KEY'] %>");</script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bg-white">
    <header class="nomini-header">
      <%= render 'layouts/header' %>
    </header>

    <% flash.each do |key, value| %>
      <div class="alert-area bg-white navbar">
        <p class="alert alert-<%= key %>"><%= value %></p>
      </div>
    <% end %>
    <% if @recommend_shops.present? && current_user&.subscription.present? %>
      <div class="main-area container bg-white mt-3 recommend-area pb-3">
        <%= render 'layouts/recommend', recommend_shops: @recommend_shops %>
      </div>
    <% end %>

    <%= yield %>
    <% if user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>

    <%= yield :payjp_form %>
  </body>
</html>
